<!-- BEGIN: Main Menu-->
<div class="horizontal-menu-wrapper">
  <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-shadow menu-border" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
          <a class="navbar-brand" href="javascript:void(0)">
            <span class="brand-logo"></span>
            <h2 class="brand-text mb-0">E-Traffic Violation System</h2>
          </a></li>
        <li class="nav-item nav-toggle">
          <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
            <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="shadow-bottom"></div>
    <!-- Horizontal menu content-->
    <div class="navbar-container" data-menu="menu-container">
      <!-- include ../../../includes/mixins-->
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link d-flex align-items-center" [routerLink]="['/dashboard']">
            <i data-feather="home"></i>
            <span data-i18n="Dashboard">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link d-flex align-items-center" routerLink="/infractions">
            <i data-feather="package"></i>
            <span data-i18n="Apps">Infractions</span>
          </a>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-toggle="dropdown"><i data-feather="layers"></i><span data-i18n="User Interface">User Interface</span></a>
          <ul class="dropdown-menu">
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ui-typography.html" data-toggle="dropdown" data-i18n="Typography"><i data-feather="type"></i><span data-i18n="Typography">Typography</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ui-colors.html" data-toggle="dropdown" data-i18n="Colors"><i data-feather="droplet"></i><span data-i18n="Colors">Colors</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ui-feather.html" data-toggle="dropdown" data-i18n="Feather"><i data-feather="eye"></i><span data-i18n="Feather">Feather</span></a>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Cards"><i data-feather="credit-card"></i><span data-i18n="Cards">Cards</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="card-basic.html" data-toggle="dropdown" data-i18n="Basic"><i data-feather="circle"></i><span data-i18n="Basic">Basic</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="card-advance.html" data-toggle="dropdown" data-i18n="Advance"><i data-feather="circle"></i><span data-i18n="Advance">Advance</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="card-statistics.html" data-toggle="dropdown" data-i18n="Statistics"><i data-feather="circle"></i><span data-i18n="Statistics">Statistics</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="card-analytics.html" data-toggle="dropdown" data-i18n="Analytics"><i data-feather="circle"></i><span data-i18n="Analytics">Analytics</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="card-actions.html" data-toggle="dropdown" data-i18n="Card Actions"><i data-feather="circle"></i><span data-i18n="Card Actions">Card Actions</span></a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Components"><i data-feather="briefcase"></i><span data-i18n="Components">Components</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-alerts.html" data-toggle="dropdown" data-i18n="Alerts"><i data-feather="circle"></i><span data-i18n="Alerts">Alerts</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-avatar.html" data-toggle="dropdown" data-i18n="Avatar"><i data-feather="circle"></i><span data-i18n="Avatar">Avatar</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-badges.html" data-toggle="dropdown" data-i18n="Badges"><i data-feather="circle"></i><span data-i18n="Badges">Badges</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-breadcrumbs.html" data-toggle="dropdown" data-i18n="Breadcrumbs"><i data-feather="circle"></i><span data-i18n="Breadcrumbs">Breadcrumbs</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-buttons.html" data-toggle="dropdown" data-i18n="Buttons"><i data-feather="circle"></i><span data-i18n="Buttons">Buttons</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-carousel.html" data-toggle="dropdown" data-i18n="Carousel"><i data-feather="circle"></i><span data-i18n="Carousel">Carousel</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-collapse.html" data-toggle="dropdown" data-i18n="Collapse"><i data-feather="circle"></i><span data-i18n="Collapse">Collapse</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-divider.html" data-toggle="dropdown" data-i18n="Divider"><i data-feather="circle"></i><span data-i18n="Divider">Divider</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-dropdowns.html" data-toggle="dropdown" data-i18n="Dropdowns"><i data-feather="circle"></i><span data-i18n="Dropdowns">Dropdowns</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-list-group.html" data-toggle="dropdown" data-i18n="List Group"><i data-feather="circle"></i><span data-i18n="List Group">List Group</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-media-objects.html" data-toggle="dropdown" data-i18n=""><i data-feather="circle"></i><span data-i18n="">Media Objects</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-modals.html" data-toggle="dropdown" data-i18n="Modals"><i data-feather="circle"></i><span data-i18n="Modals">Modals</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-navs-component.html" data-toggle="dropdown" data-i18n="Navs Component"><i data-feather="circle"></i><span data-i18n="Navs Component">Navs Component</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-pagination.html" data-toggle="dropdown" data-i18n="Pagination"><i data-feather="circle"></i><span data-i18n="Pagination">Pagination</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-pill-badges.html" data-toggle="dropdown" data-i18n="Pill Badges"><i data-feather="circle"></i><span data-i18n="Pill Badges">Pill Badges</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-pills-component.html" data-toggle="dropdown" data-i18n="Pills Component"><i data-feather="circle"></i><span data-i18n="Pills Component">Pills Component</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-popovers.html" data-toggle="dropdown" data-i18n="Popovers"><i data-feather="circle"></i><span data-i18n="Popovers">Popovers</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-progress.html" data-toggle="dropdown" data-i18n="Progress"><i data-feather="circle"></i><span data-i18n="Progress">Progress</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-spinner.html" data-toggle="dropdown" data-i18n="Spinner"><i data-feather="circle"></i><span data-i18n="Spinner">Spinner</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-tabs-component.html" data-toggle="dropdown" data-i18n="Tabs Component"><i data-feather="circle"></i><span data-i18n="Tabs Component">Tabs Component</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-timeline.html" data-toggle="dropdown" data-i18n="Timeline"><i data-feather="circle"></i><span data-i18n="Timeline">Timeline</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-bs-toast.html" data-toggle="dropdown" data-i18n="Toasts"><i data-feather="circle"></i><span data-i18n="Toasts">Toasts</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="component-tooltips.html" data-toggle="dropdown" data-i18n="Tooltips"><i data-feather="circle"></i><span data-i18n="Tooltips">Tooltips</span></a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Extensions"><i data-feather="box"></i><span data-i18n="Extensions">Extensions</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-sweet-alerts.html" data-toggle="dropdown" data-i18n="Sweet Alert"><i data-feather="circle"></i><span data-i18n="Sweet Alert">Sweet Alert</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-blockui.html" data-toggle="dropdown" data-i18n="Block UI"><i data-feather="circle"></i><span data-i18n="Block UI">BlockUI</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-toastr.html" data-toggle="dropdown" data-i18n="Toastr"><i data-feather="circle"></i><span data-i18n="Toastr">Toastr</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-sliders.html" data-toggle="dropdown" data-i18n="Sliders"><i data-feather="circle"></i><span data-i18n="Sliders">Sliders</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-drag-drop.html" data-toggle="dropdown" data-i18n="Drag &amp; Drop"><i data-feather="circle"></i><span data-i18n="Drag &amp; Drop">Drag &amp; Drop</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-tour.html" data-toggle="dropdown" data-i18n="Tour"><i data-feather="circle"></i><span data-i18n="Tour">Tour</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-clipboard.html" data-toggle="dropdown" data-i18n="Clipboard"><i data-feather="circle"></i><span data-i18n="Clipboard">Clipboard</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-media-player.html" data-toggle="dropdown" data-i18n="Media player"><i data-feather="circle"></i><span data-i18n="Media player">Media Player</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-context-menu.html" data-toggle="dropdown" data-i18n="Context Menu"><i data-feather="circle"></i><span data-i18n="Context Menu">Context Menu</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-swiper.html" data-toggle="dropdown" data-i18n="swiper"><i data-feather="circle"></i><span data-i18n="swiper">Swiper</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-tree.html" data-toggle="dropdown" data-i18n="Tree"><i data-feather="circle"></i><span data-i18n="Tree">Tree</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-ratings.html" data-toggle="dropdown" data-i18n="Ratings"><i data-feather="circle"></i><span data-i18n="Ratings">Ratings</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="ext-component-i18n.html" data-toggle="dropdown" data-i18n="l18n"><i data-feather="circle"></i><span data-i18n="l18n">l18n</span></a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Page Layouts"><i data-feather="layout"></i><span data-i18n="Page Layouts">Page Layouts</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="layout-boxed.html" data-toggle="dropdown" data-i18n="Layout Boxed"><i data-feather="circle"></i><span data-i18n="Layout Boxed">Layout Boxed</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="layout-without-menu.html" data-toggle="dropdown" data-i18n="Without Menu"><i data-feather="circle"></i><span data-i18n="Without Menu">Without Menu</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="layout-empty.html" data-toggle="dropdown" data-i18n="Layout Empty"><i data-feather="circle"></i><span data-i18n="Layout Empty">Layout Empty</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="layout-blank.html" data-toggle="dropdown" data-i18n="Layout Blank"><i data-feather="circle"></i><span data-i18n="Layout Blank">Layout Blank</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-toggle="dropdown"><i data-feather="edit"></i><span data-i18n="Forms &amp; Tables">Forms &amp; Tables</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Form Elements"><i data-feather="copy"></i><span data-i18n="Form Elements">Form Elements</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-input.html" data-toggle="dropdown" data-i18n="Input"><i data-feather="circle"></i><span data-i18n="Input">Input</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-input-groups.html" data-toggle="dropdown" data-i18n="Input Groups"><i data-feather="circle"></i><span data-i18n="Input Groups">Input Groups</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-input-mask.html" data-toggle="dropdown" data-i18n="Input Mask"><i data-feather="circle"></i><span data-i18n="Input Mask">Input Mask</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-textarea.html" data-toggle="dropdown" data-i18n="Textarea"><i data-feather="circle"></i><span data-i18n="Textarea">Textarea</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-checkbox.html" data-toggle="dropdown" data-i18n="Checkbox"><i data-feather="circle"></i><span data-i18n="Checkbox">Checkbox</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-radio.html" data-toggle="dropdown" data-i18n="Radio"><i data-feather="circle"></i><span data-i18n="Radio">Radio</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-switch.html" data-toggle="dropdown" data-i18n="Switch"><i data-feather="circle"></i><span data-i18n="Switch">Switch</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-select.html" data-toggle="dropdown" data-i18n="Select"><i data-feather="circle"></i><span data-i18n="Select">Select</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-number-input.html" data-toggle="dropdown" data-i18n="Number Input"><i data-feather="circle"></i><span data-i18n="Number Input">Number Input</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-file-uploader.html" data-toggle="dropdown" data-i18n="File Uploader"><i data-feather="circle"></i><span data-i18n="File Uploader">File Uploader</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-quill-editor.html" data-toggle="dropdown" data-i18n="Quill Editor"><i data-feather="circle"></i><span data-i18n="Quill Editor">Quill Editor</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-date-time-picker.html" data-toggle="dropdown" data-i18n="Date &amp; Time Picker"><i data-feather="circle"></i><span data-i18n="Date &amp; Time Picker">Date &amp; Time Picker</span></a>
                </li>
              </ul>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-layout.html" data-toggle="dropdown" data-i18n="Form Layout"><i data-feather="box"></i><span data-i18n="Form Layout">Form Layout</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-wizard.html" data-toggle="dropdown" data-i18n="Form Wizard"><i data-feather="package"></i><span data-i18n="Form Wizard">Form Wizard</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-validation.html" data-toggle="dropdown" data-i18n="Form Validation"><i data-feather="check-circle"></i><span data-i18n="Form Validation">Form Validation</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="form-repeater.html" data-toggle="dropdown" data-i18n="Form Repeater"><i data-feather="rotate-cw"></i><span data-i18n="Form Repeater">Form Repeater</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="table-bootstrap.html" data-toggle="dropdown" data-i18n="Table"><i data-feather="server"></i><span data-i18n="Table">Table</span></a>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Datatable"><i data-feather="grid"></i><span data-i18n="Datatable">Datatable</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="table-datatable-basic.html" data-toggle="dropdown" data-i18n="Basic"><i data-feather="circle"></i><span data-i18n="Basic">Basic</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="table-datatable-advanced.html" data-toggle="dropdown" data-i18n="Advanced"><i data-feather="circle"></i><span data-i18n="Advanced">Advanced</span></a>
                </li>
              </ul>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="table-ag-grid.html" data-toggle="dropdown" data-i18n="agGrid Table"><i data-feather="grid"></i><span data-i18n="agGrid Table">agGrid Table</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-toggle="dropdown"><i data-feather="file-text"></i><span data-i18n="Pages">Pages</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Authentication"><i data-feather="unlock"></i><span data-i18n="Authentication">Authentication</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-login-v1.html" data-toggle="dropdown" data-i18n="LoginV1" target="_blank"><i data-feather="circle"></i><span data-i18n="LoginV1">Login v1</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-login-v2.html" data-toggle="dropdown" data-i18n="LoginV2" target="_blank"><i data-feather="circle"></i><span data-i18n="LoginV2">Login v2</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-register-v1.html" data-toggle="dropdown" data-i18n="RegisterV1" target="_blank"><i data-feather="circle"></i><span data-i18n="RegisterV1">Register v1</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-register-v2.html" data-toggle="dropdown" data-i18n="RegisterV2" target="_blank"><i data-feather="circle"></i><span data-i18n="RegisterV2">Register v2</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-forgot-password-v1.html" data-toggle="dropdown" data-i18n="ForgotPasswordV1" target="_blank"><i data-feather="circle"></i><span data-i18n="ForgotPasswordV1">Forgot Password v1</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-forgot-password-v2.html" data-toggle="dropdown" data-i18n="ForgotPasswordV2" target="_blank"><i data-feather="circle"></i><span data-i18n="ForgotPasswordV2">Forgot Password v2</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-reset-password-v1.html" data-toggle="dropdown" data-i18n="ResetPasswordV1" target="_blank"><i data-feather="circle"></i><span data-i18n="ResetPasswordV1">Reset Password v1</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-auth-reset-password-v2.html" data-toggle="dropdown" data-i18n="ResetPasswordV2" target="_blank"><i data-feather="circle"></i><span data-i18n="ResetPasswordV2">Reset Password v2</span></a>
                </li>
              </ul>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-account-settings.html" data-toggle="dropdown" data-i18n="Account Settings"><i data-feather="settings"></i><span data-i18n="Account Settings">Account Settings</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-profile.html" data-toggle="dropdown" data-i18n="Profile"><i data-feather="user"></i><span data-i18n="Profile">Profile</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-faq.html" data-toggle="dropdown" data-i18n="FAQ"><i data-feather="help-circle"></i><span data-i18n="FAQ">FAQ</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-knowledge-base.html" data-toggle="dropdown" data-i18n="Knowledge Base"><i data-feather="info"></i><span data-i18n="Knowledge Base">Knowledge Base</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-pricing.html" data-toggle="dropdown" data-i18n="Pricing"><i data-feather="dollar-sign"></i><span data-i18n="Pricing">Pricing</span></a>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Blog"><i data-feather="clipboard"></i><span data-i18n="Blog">Blog</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-blog-list.html" data-toggle="dropdown" data-i18n="List"><i data-feather="circle"></i><span data-i18n="List">List</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-blog-detail.html" data-toggle="dropdown" data-i18n="Detail"><i data-feather="circle"></i><span data-i18n="Detail">Detail</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-blog-edit.html" data-toggle="dropdown" data-i18n="Edit"><i data-feather="circle"></i><span data-i18n="Edit">Edit</span></a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Mail Template"><i data-feather="mail"></i><span data-i18n="Mail Template">Mail Template</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-welcome.html" data-toggle="dropdown" data-i18n="Welcome" target="_blank"><i data-feather="circle"></i><span data-i18n="Welcome">Welcome</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-reset-password.html" data-toggle="dropdown" data-i18n="Reset Password" target="_blank"><i data-feather="circle"></i><span data-i18n="Reset Password">Reset Password</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-verify-email.html" data-toggle="dropdown" data-i18n="Verify Email" target="_blank"><i data-feather="circle"></i><span data-i18n="Verify Email">Verify Email</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-deactivate-account.html" data-toggle="dropdown" data-i18n="Deactivate Account" target="_blank"><i data-feather="circle"></i><span data-i18n="Deactivate Account">Deactivate Account</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-invoice.html" data-toggle="dropdown" data-i18n="Invoice" target="_blank"><i data-feather="circle"></i><span data-i18n="Invoice">Invoice</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-mail-template/mail-promotional.html" data-toggle="dropdown" data-i18n="Promotional" target="_blank"><i data-feather="circle"></i><span data-i18n="Promotional">Promotional</span></a>
                </li>
              </ul>
            </li>
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Miscellaneous"><i data-feather="file"></i><span data-i18n="Miscellaneous">Miscellaneous</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-misc-coming-soon.html" data-toggle="dropdown" data-i18n="Coming Soon" target="_blank"><i data-feather="circle"></i><span data-i18n="Coming Soon">Coming Soon</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-misc-not-authorized.html" data-toggle="dropdown" data-i18n="Not Authorized" target="_blank"><i data-feather="circle"></i><span data-i18n="Not Authorized">Not Authorized</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-misc-under-maintenance.html" data-toggle="dropdown" data-i18n="Maintenance" target="_blank"><i data-feather="circle"></i><span data-i18n="Maintenance">Maintenance</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="page-misc-error.html" data-toggle="dropdown" data-i18n="Error" target="_blank"><i data-feather="circle"></i><span data-i18n="Error">Error</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-toggle="dropdown"><i data-feather="bar-chart-2"></i><span data-i18n="Charts &amp; Maps">Charts &amp; Maps</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Charts"><i data-feather="pie-chart"></i><span data-i18n="Charts">Charts</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="chart-apex.html" data-toggle="dropdown" data-i18n="Apex"><i data-feather="circle"></i><span data-i18n="Apex">Apex</span></a>
                </li>
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="chart-chartjs.html" data-toggle="dropdown" data-i18n="Chartjs"><i data-feather="circle"></i><span data-i18n="Chartjs">Chartjs</span></a>
                </li>
              </ul>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="maps-leaflet.html" data-toggle="dropdown" data-i18n="Leaflet Maps"><i data-feather="map"></i><span data-i18n="Leaflet Maps">Leaflet Maps</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-toggle="dropdown"><i data-feather="box"></i><span data-i18n="Misc">Misc</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Menu Levels"><i data-feather="menu"></i><span data-i18n="Menu Levels">Menu Levels</span></a>
              <ul class="dropdown-menu">
                <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="#" data-toggle="dropdown" data-i18n="Second Level"><i data-feather="circle"></i><span data-i18n="Second Level">Second Level 2.1</span></a>
                </li>
                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item d-flex align-items-center dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Second Level"><i data-feather="circle"></i><span data-i18n="Second Level">Second Level 2.2</span></a>
                  <ul class="dropdown-menu">
                    <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="#" data-toggle="dropdown" data-i18n="Third Level"><i data-feather="circle"></i><span data-i18n="Third Level">Third Level 3.1</span></a>
                    </li>
                    <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="#" data-toggle="dropdown" data-i18n="Third Level"><i data-feather="circle"></i><span data-i18n="Third Level">Third Level 3.2</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="disabled" data-menu=""><a class="dropdown-item d-flex align-items-center" href="" data-toggle="dropdown" data-i18n="Disabled Menu"><i data-feather="eye-off"></i><span data-i18n="Disabled Menu">Disabled Menu</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/documentation" data-toggle="dropdown" data-i18n="Documentation"><i data-feather="folder"></i><span data-i18n="Documentation">Documentation</span></a>
            </li>
            <li data-menu=""><a class="dropdown-item d-flex align-items-center" href="https://pixinvent.ticksy.com/" data-toggle="dropdown" data-i18n="Raise Support"><i data-feather="life-buoy"></i><span data-i18n="Raise Support">Raise Support</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END: Main Menu-->
