.header-navbar .navbar-container ul.navbar-nav li i-feather.ficon:hover, .header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover {
  color: #7367F0;
}

.header-navbar .navbar-container ul.navbar-nav li i-feather.ficon, .header-navbar .navbar-container ul.navbar-nav li svg.ficon {
  height : 1.5rem;
  width : 1.5rem;
  font-size : 1.5rem;
  color : #6E6B7B;
}
