<div class="modal fade text-left" id="infraction-edit-form" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel33">Inline Login Form</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#">
        <div class="modal-body">
          <label>Email: </label>
          <div class="form-group">
            <input type="text" placeholder="Email Address" class="form-control" />
          </div>

          <label>Password: </label>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
