<div class="form-row">
  <div class="col-md-4" style="padding: 6px 10px 0 0 !important; flex: 0 0 0 !important;">
    <select [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
    </select>
  </div>
  <div class="col-md-8" style="flex: 0 0 0 !important;">
    <pagination-template #p="paginationApi" (pageChange)="handlePageChange($event)">
      <ul class="pagination firstLast1-links">
        <li class="page-item first" [class.disabled]="p.isFirstPage()">
          <a class="page-link" (click)="p.setCurrent(1)">
            First
          </a>
        </li>
        <li class="page-item prev" [class.disabled]="p.isFirstPage()">
          <a class="page-link" (click)="p.setCurrent(p.getCurrent() - 1)">
            Prev
          </a>
        </li>
        <li *ngFor="let page of p.pages" class="page-item" [class.active]="p.getCurrent() === page.value">
          <a class="page-link" (click)="p.setCurrent(page.value)">{{ page.label }}</a>
        </li>
        <li class="page-item next" [class.disabled]="p.isLastPage()">
          <a class="page-link" (click)="p.setCurrent(p.getCurrent() + 1)">
            Next
          </a>
        </li>
        <li class="page-item last" [class.disabled]="p.isLastPage()">
          <a class="page-link" (click)="p.setCurrent(p.getLastPage())">
            Last
          </a>
        </li>
      </ul>
    </pagination-template>
  </div>
</div>
