<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Infractions List</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered mb-0">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">Id</th>
              <th scope="col" class="text-nowrap">Description</th>
              <th scope="col" class="text-nowrap">Penalty</th>
              <th scope="col" class="text-nowrap">Points</th>
              <th scope="col" class="text-nowrap">Created By</th>
              <th scope="col" class="text-nowrap">Created Date</th>
              <th scope="col" class="text-nowrap">Updated By</th>
              <th scope="col" class="text-nowrap">Updated Date</th>
              <th scope="col" class="text-nowrap">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let infraction of infractionsList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalRecords}" >
              <td>{{ infraction.infractionId }}</td>
              <td>{{ infraction.description }}</td>
              <td class="text-center">{{ infraction.penalty }}</td>
              <td class="text-center">{{ infraction.points }}</td>
              <td class="text-center">{{ infraction.createdBy }}</td>
              <td class="text-center">{{ infraction.createdDate | date:'mediumDate' }}</td>
              <td class="text-center">{{ infraction.updatedBy ?? '-' }}</td>
              <td [ngClass]="{'text-center': infraction.updatedBy === null }">{{ infraction.updateDate ?? '-' }}</td>
              <td class="text-center">
                <fa-icon [icon]="faEdit" class="text-primary"></fa-icon>
                &nbsp;
                <fa-icon [icon]="faTimes" class="text-danger" (click)="deleteInfraction(infraction.infractionId)"></fa-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <br>
        <app-pagination class="float-right mr-1" [paginationConfig]="paginationConfig"
                        (pageChange)="handlePageChange($event)" (pageSize)="itemsPerPage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
